@model IEnumerable<Mosquito.CinemaTask.Models.FilmModel>

@{
    ViewBag.Title = "List";
}

<h2>Films</h2>

@{
    if (ViewBag.Action != null)
    {
        if (ViewBag.Action == "Create")
        {
            <div class="alert alert-success mt-2">
                <strong>Success!</strong> Film added.
            </div>
        }
        else if (ViewBag.Action == "Delete")
        {
            <div class="alert alert-success mt-2">
                <strong>Success!</strong> Film deleted.
            </div>
        }

        else if (ViewBag.Action == "Failed")
        {
            <div class="alert alert-danger mt-2">
                <strong>Failed!</strong> Film failed to delete.
            </div>
        }
    }
}


@Html.DropDownList(
    "url",
    new SelectList(new[]
    {
        new SelectListItem { Text = "Ascending", Value = Url.Action("Index/Ascending", "Home") },
        new SelectListItem { Text = "Descending", Value = Url.Action("Index/Descending", "Home") },
    }, "Value", "Text"),
    "Sort by",
    new { id = "sort" }
)

@Html.Partial("~/Views/Partials/List.cshtml")