@model IEnumerable<Mosquito.CinemaTask.Models.FilmModel>

@{
    ViewBag.Title = "List";
}

<h2>Films</h2>

<div class="alert @ViewBag.Class mt-2">
    <strong>@ViewBag.Message</strong>
</div>


@Html.DropDownList(
    "url",
    new SelectList(new[]
    {
        new SelectListItem { Text = "Ascending", Value = Url.Action("Index/Ascending", "Home") },
        new SelectListItem { Text = "Descending", Value = Url.Action("Index/Descending", "Home") },
    }, "Value", "Text"),
    "Sort by",
    new { id = "sort", @class = "form-control mb-2"}
)

@Html.Partial("~/Views/Partials/List.cshtml")